# Python virtual environment
venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env

# Data folders
data/

# Streamlit cache
frontend/.streamlit/

# IDE settings
.vscode/
